.slidesWidget{
    height: 50%;
    width: fit-content;
}

.date-time{
    margin: 20px;
    margin-left: 35px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    height: fit-content;
}

.time{
    font-size: 60px;
    color: white;
    padding: 5px;
}

.time-zone{
    font-size: 10px;
    color: white;
    margin-left: 0;
}

.iframe-wrapper{
    margin: 20px;
    width: fit-content;
    background-color: rgb(85, 78, 241);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.slides-iframe{
    margin: 5px;
    border-radius: 10px;
}