.slidesWidget{
    height: 50%;
    width: fit-content;
}

.date-time{
    margin: 20px;
    background: rgba(0,0,0,.2);
    border: 2px solid white;
    border-radius: 10px;
    width: fit-content;
}

.time{
    font-size: 60px;
    color: white;
    padding: 5px;
}

.time-zone{
    font-size: 10px;
    color: white;
    padding: 5px;
}

.iframe-wrapper{
    margin: 20px;
    width: fit-content;
    background-color: rgb(85, 78, 241);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.slides-iframe{
    margin: 5px;
    border-radius: 10px;
}