.scrollAnnouncement{
    display: flex;
    width: 100%;
    background-color: rgb(85, 78, 241);
    font-weight: bold;
    height: 50px;
    font-size: 15px;
    border: 1px solid wheat;
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
}

.text-background{
    display: flex;
    height: 28px;
    width: 100%;
    background-color: white;
    align-items: center;
}
.scrollAnnouncement p {
    display: inline-block;
    padding-left: 100%;
    animation: scroll 15s linear infinite;
    color: #595959;
}
  
@keyframes scroll {
    0% {
    transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}