.App{
  height: fit-content;
}

.widgets
{
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.side-widgets{
  display: flex;
  flex-direction: column;
}

.botoom-widgets{
  display: flex;
  align-items: center;
}